.modal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  &__container {
    display: flex;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  & > div {
    margin: 1rem;
  }
  & > div > img {
    width: 75%;
  }

  &__container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
  }

  &__exitBtn {
    cursor: pointer;
  }

  &__container-right > p > span {
    font-weight: bold;
  }

  &__container-right > p > a {
    text-decoration: none;
    color: #b2ac88;
  }

  &__img {
    width: 90%;
  }
}

.visible {
  filter: brightness(200%);
  visibility: visible;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
  transition: all 0.5s;
}

.hover__text {
  color: transparent;
}
