h1 {
  text-align: center;
  font-weight: 800;
  font-size: 56px;
  margin-bottom: 2rem;
  color: #b2ac88;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem;
  flex: 1 0 33%;
  justify-content: center;

  &__img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 1rem;
  }

  &__text {
    position: absolute;
    transform: translate(74%, -600%);
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;

    &:hover {
      display: block;
      filter: brightness(2000%);
    }
  }

  &__container {
    filter: brightness(90%);
    &:hover {
      filter: brightness(100%);
      transition: all 1s ease;
    }
  }
}

.photo {
  &__text {
    display: none;
  }

  @media screen and (min-width: 768px) {
    &__text {
      display: block;
      font-size: 1.4em;
      overflow: hidden;
      border-right: 0.15em solid #b2ac88;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 0.15em;
      animation: typing 3.3s steps(40, end), blink-caret 1.75s step-end infinite;
      color: #b2ac88;
      text-align: center;
      margin-bottom: 3rem;
    }

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
        border: 0;
      }
    }

    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      10% {
        border-color: #b2ac88;
      }
    }
  }
}

.photos__text,
.photos__img {
  &:hover {
    visibility: visible;
  }
}

.visible {
  visibility: visible;
}
